.container {
    display: flex;
    padding: 20px;
    .img-beeldi-detail {
        width: 300px;
    }
    .text-container {
        padding: 0 20px;
    }
    .bold {
        font-weight: 600;
    }
    .p-flex-column {
        display: flex;
        flex-direction: column;
    }
    .marginBottom {
        margin-bottom: 16px;
    }
    .img-container {
        display: flex;
        align-items: center;
    }
    .container-img-beeldi-min {
        display: flex;
        .img-beeldi-min {
            width: 80px;
            display: flex;
        }
    }
}

.container-btn-data {
    display: flex;
    flex-direction: column;
    .link-back {
        text-decoration: none;
        display: contents;
    }
}
